body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type=text] {
  width: 100%;
  padding: 10px 50px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgba(44, 44, 171, 0.64);
  border: none;
  border-radius: 15px;
  
}

.button:hover {background-color: red}



.waterAndWallContainer, .onlyWaterContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  border: 10px;
  height: 50vh;
}